@model LigaNOS.Models.PlayerViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="page-title-style">Edit</h1>

<h4>Player</h4>
<hr />
<div class="container">
    <div class="col-md-4 form-position">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="PictureId" />

            <partial name="_Players" />

            <div class="form-group">
                @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Team"))
                {
                    <button type="submit" value="Save" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                }

                <a asp-action="Index" class="btn btn-success"><i class="fa fa-chevron-left"></i> Back</a>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <img src="@Url.Content(Model.ImageFullPath)" alt="Picture" style="width: 300px; height: 300px; max-width: 100%; border-radius: 50%;" />
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
