@{
    ViewData["Title"] = "PlayerNotFound";
    Layout = "_Layout";
}

<body>
    <div class="player-not-found-container">
        <img src="~/images/notfound/playernotfound.png" alt="Image" class="player-not-found-img" />
        <h1 class="player-not-found-text">Player Not Found</h1>
        <p><a href="@Url.Action("Index", "Home")">Go Back to Home</a></p>
    </div>
</body>

