@model LigaNOS.Models.TeamViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ImageId" />

            <partial name="_Teams" />

            <div class="form-group">
                @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
                {
                    <button type="submit" value="Save" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                }

                <a asp-action="Index" class="btn btn-success"><i class="fa fa-chevron-left"></i> Back</a>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <img src="@Url.Content(Model.ImageFullPath)" alt="Picture" style="width: 300px; height: 450px; max-width: 100%; height: auto ">
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
