@{
    ViewData["Title"] = "TeamNotFound";
    Layout = "_Layout";
}

<body>
    <div class="team-not-found-container">
        <img src="~/images/notfound/teamnotfound.png" alt="Image" class="team-not-found-img" />
        <h1 class="team-not-found-text">Team Not Found</h1>
        <p><a href="@Url.Action("Index", "Home")">Go Back to Home</a></p>
    </div>
</body>

