/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*.navbar {
    background-color: #013440;
    border: none !important;
    height: 80px;
    padding: 5px 0;
}

.navbar-nav .nav-item .nav-link {
    color: #82C0D9;
}

a {
    color: #038C17;
}

a:hover {
    color: #038C17;
    text-decoration: none;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar-nav .nav-link {
    color: #038C17;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #038C17;
    background-color: #1b6ec2;
    border-color: #038C17;
}

 Change navbar item color on hover 
.navbar-nav .nav-item .nav-link:hover {
    color: #038C17;
}*/

/* Remove border and box-shadow from the navbar */
.navbar {
    border: none;
    box-shadow: none;
    border-radius: 0;
    background-color: #013440;
    color: #82C0D9;
}

/* Remove border and box-shadow from the footer */
footer.navbar {
    border: none;
    box-shadow: none;
    border-radius: 0;
    background-color: #013440;
    color: #82C0D9;
}

/* Change navbar and footer background color and text color */
.navbar-inverse {
    background-color: #013440;
    border-radius: 0;
    border: none;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #82C0D9;
}

    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #82C0D9;
    }

* a {
    color: #038C17;
}

    * a:hover {
        color: #025918;
        text-decoration: none;
    }

/* Change navbar and footer text color on hover */
.navbar-inverse a:hover,
footer.navbar-inverse a:hover,
.navbar-inverse .navbar-nav > li > a:hover,
footer.navbar-inverse .navbar-nav > li > a:hover {
    color: #038C17;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    margin: 0;
    background-color: #025E73;
    color: #82C0D9;
}
/*.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #013440;
    border: none !important;
    padding: 10px 0;
}*/

.table-footer-gap {
    margin-bottom: 20px;
}

.table-container {
    padding-bottom: 60px;
}

/* Forbidden
-------------------------------------------------- */
.forbidden-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh; /* Set the container height to 100vh */
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.forbidden-img {
    width: 200px;
    height: auto;
    max-width: 100%;
}

/* Style the forbidden text */
.acccess-denied-text {
    margin-top: 10px;
    color: red;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .forbidden-container {
        min-height: calc(80vh - 60px); /* Adjust for the footer height */
    }

    /* Adjust image size for smaller screens */
    .forbidden-img {
        width: 150px;
    }

    /* Adjust text size for smaller screens */
    .forbidden-text {
        font-size: 16px;
    }

}

.forbidden-text {
    font-size: 50px;
    color: #013440;
}

@media screen and (max-width: 768px) {
    /* Adjust text size for smaller screens */
    .forbidden-text {
        font-size: 30px;
    }
}

/* Team Not Found
-------------------------------------------------- */
.team-not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.team-not-found-img {
    width: 200px;
    height: auto;
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .team-not-found-container {
        min-height: calc(80vh - 60px);
    }


    .team-not-found-img {
        width: 150px;
    }
}


.team-not-found-text {
    font-size: 50px;
    color: #013440;
}

@media screen and (max-width: 768px) {
    /* Adjust text size for smaller screens */
    .team-not-found-text {
        font-size: 20px;
    }
}

/* Page Not Found
-------------------------------------------------- */
.page-not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.page-not-found-img {
    width: 200px;
    height: auto;
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .page-not-found-container {
        min-height: calc(80vh - 60px);
    }


    .page-not-found-img {
        width: 150px;
    }
}


.page-not-found-text {
    color: #013440;
}

@media screen and (max-width: 768px) {
    /* Adjust text size for smaller screens */
    .page-not-found-text {
        font-size: 20px;
    }
}

/* Player Not Found
-------------------------------------------------- */
.player-not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.player-not-found-img {
    width: 200px;
    height: auto;
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .player-not-found-container {
        min-height: calc(80vh - 60px);
    }


    .player-not-found-img {
        width: 150px;
    }
}


.player-not-found-text {
    font-size: 50px;
    color: #013440;
}

@media screen and (max-width: 768px) {
    /* Adjust text size for smaller screens */
    .player-not-found-text {
        font-size: 20px;
    }
}

/* Game Not Found
-------------------------------------------------- */
.game-not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.game-not-found-img {
    width: 200px;
    height: auto;
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .game-not-found-container {
        min-height: calc(80vh - 60px);
    }


    .game-not-found-img {
        width: 150px;
    }
}


.game-not-found-text-1 {
    font-size: 50px;
    color: #013440;
}

@media screen and (max-width: 768px) {
    /* Adjust text size for smaller screens */
    .game-not-found-text-1 {
        font-size: 20px;
    }
}

/* Buttons placing
-------------------------------------------------- */
/* Teams button */
.teams-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Add some spacing between header and table */
}

.teams-title {
    margin: 0;
    font-size: 24px;
}

.teams-create-button {
    margin: 0;
}

/* Games button */
.games-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Add some spacing between header and table */
}

.games-title {
    margin: 0;
    font-size: 24px;
}

.games-create-button {
    margin: 0;
}

/* Players button */
.players-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Add some spacing between header and table */
}

.players-title {
    margin: 0;
    font-size: 24px;
}

.players-create-button {
    margin: 0;
}

/* Logo image
-------------------------------------------------- */
.logo-image {
    width: 100px;
    max-width: 100%;
    height: auto;
    margin-top: 5px;
}

/* Logo in footer */
.logo-link {
    display: inline-flex;
    align-items: center;
}

.footer-logo-image {
    width: 100px;
    max-width: 100%;
    height: auto;
    margin-top: -19px;
    text-align: left;
}

.footer-logo-text {
    margin-top: -22px;
    margin-left: 5px;
}

/* Games Layout
-------------------------------------------------- */
.match-cell {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.team-name {
    margin-bottom: 0.5rem;
}

.score-cell {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.home-score,
.away-score {
    margin: 0.2rem;
}

/*Gmes row separation */
#games {
    border-collapse: collapse;
}

    #games th,
    #games td {
        border-bottom: 1px solid #013440;
        padding: 8px; /* Add padding for better spacing */
        vertical-align: middle;
    }

#games th {
    border-top: none; /* Remove top border for table header cells */
}

#games th {
    border-top: none; /* Remove top border for table header cells */
}

#games tbody tr:hover {
    background-color: #013440;
    color: #038C17;
}


/* Players row separation */
#players {
    border-collapse: collapse;
}

    #players th,
    #players td {
        border-bottom: 1px solid #013440;
        padding: 8px; /* Add padding for better spacing */
        vertical-align: middle;
    }

#players th {
    border-top: none; /* Remove top border for table header cells */
}

#players th {
    border-top: none; /* Remove top border for table header cells */
}

#players tbody tr:hover {
    background-color: #013440;
    color: #038C17;
}

/* Teams row separation */
#teams {
    border-collapse: collapse;
    color: #82C0D9;
}

    #teams th,
    #teams td {
        border-bottom: 1px solid #013440;
        padding: 8px; /* Add padding for better spacing */
        vertical-align: middle;
    }

#teams th {
    border-top: none; /* Remove top border for table header cells */
}

#teams th {
    border-top: none; /* Remove top border for table header cells */
}

#teams tbody tr:hover {
    background-color: #013440;
    color: #038C17;
}

/* Statistics table styling */
#statistics {
    border-collapse: collapse;
    color: #82C0D9;
    margin-top: 20px; /* Add some spacing between tables */
}

    #statistics th,
    #statistics td {
        border-bottom: 1px solid #013440;
        padding: 8px; /* Add padding for better spacing */
        vertical-align: middle;
    }

    #statistics th {
        border-top: none; /* Remove top border for table header cells */
    }

    #statistics tbody tr:hover {
        background-color: #013440;
        color: #038C17;
    }

/* Button background and text colors */
.btn-success,
.btn-danger,
.btn-primary {
    background-color: #013440;
    color: #038C17;
    border-color: transparent;
}

.games-header-container {
    display: flex;
    justify-content: space-between;
}

    .games-header-container .btn {
        flex: 1;
        margin-bottom: 5px;
    }

    .games-header-container .btn {
        flex: 1;
    }

        table .btn-primary,
        table .btn-danger,
        table .btn-info {
            background-color: #013440;
            color: #038C17;
            border-color: transparent;
        }

.btn-margin-right {
    margin-right: 5px;
}

/*.btn-margin-top {
    margin-top: 5px;
}*/

@media (max-width: 468px) {
    .btn-margin-top {
        margin-top: 5px; /* Adjust the margin value as needed */
    }
}

.rounded {
    border-radius: 0;
}

.custom-button {
    padding-right: 18px;
    padding-left: 10px;
}

.adjusted-icon {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
}

.adjusted-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.adjusted-button-custom {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 14px;
    padding-left: 14px;
}

/* Table head color */
table thead th {
color: #013440;
}

/* Cards */
.red-card {
    width: 16px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
}

.yellow-card {
    width: 12px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
    margin-left: 2px;
}

.red-yellow-card {
    width: 12px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1px;
    margin-right: 2px;
}



