@model LigaNOS.Data.Entities.Game

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="alert alert-danger alert-top" id="alertMessage" style="display:none;">
    Home team and away team cannot be the same.
</div>
<div class="row">
    <div class="col-md-4 form-container">
        <form asp-action="Edit" id="editGameForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <partial name="_Games" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.getElementById("editGameForm").addEventListener("submit", function (event) {
            var homeTeamSelect = document.getElementById("HomeTeam");
            var awayTeamSelect = document.getElementById("AwayTeam");

            if (homeTeamSelect.value === awayTeamSelect.value) {
                event.preventDefault();
                document.getElementById("alertMessage").style.display = "block";
            }
        });
    </script>
}
