
@{
    ViewData["Title"] = "GameNotFound";
}

<body>
    <div class="game-not-found-container">
        <img src="~/images/notfound/gamenotfound.png" alt="Image" class="game-not-found-img" />
        <h1 class="game-not-found-text-1">Game Not Found</h1>
        <p><a href="@Url.Action("Index", "Home")">Go Back to Home</a></p>
    </div>
</body>


