
@{
    ViewData["Title"] = "RecoverPasswordConfirmation";
}

<h1>RecoverPasswordConfirmation</h1>

@if (TempData.ContainsKey("SuccessMessage"))
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
