
@{
    ViewData["Title"] = "RegistrationRequestConfirmation";
}

<h1>Registration Confirmation</h1>

<p>Thank you for submitting your registration request. An email notification has been sent to the admin.</p>

