@model List<UserWithRolesViewModel>

<h2>User List</h2>

<table class="table table-bordered table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userWithRoles in Model)
        {
            var user = userWithRoles.User;
            var roles = userWithRoles.Roles;
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    @string.Join(", ", roles)
                </td>
                <td>
                    <a asp-action="Delete" asp-controller="Account" asp-route-userId="@user.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
